<!doctype html>
<html ng-app="FinModule">
  <head>
    <title>Accounts - FinQuick</title>
    <meta charset="utf-8" />
    <style type="text/css">
      table { width: 85% }
      thead th:first-child { width: 30% }
      .money { text-align: right }
      th { border-bottom: 2px solid blue }
      td {
        border-bottom: 1px solid grey }
      }
    </style>
  </head>
  <body ng-controller="AccountsCtrl">
    <div><a href="transactions">Transactions</a></div>

    <h1>Accounts</h1>

    <table>
      <thead>
      <tr>
	<th>Account Name</th><th>Type</th><th>P</th><th>Description</th>
	<th>Balance</th><th>Reconciled</th>
	<th>Total (Period)</th>
      </tr>
      </thead>
      <tbody>
	<!--todo: start with children(root(), summary)
            and expand. -->
      <tr ng-repeat="account in summary"
          ng-show="visibility(account)">
	<td ng-click="toggle(account)">
	  {{ account.level - 1 | indent:'&#160;&#160;' }}
	  <ng-switch on="visibility(account)">
	    <span ng-switch-when="3">
	      &#x25BE; <!-- BLACK DOWN-POINTING SMALL TRIANGLE -->
	    </span>
	    <span ng-switch-when='2'>
	      &#x25B8; <!-- BLACK RIGHT-POINTING SMALL TRIANGLE -->
	    </span>
	    <span ng-switch-default>
	      &#160;
	    </span>
	  </ng-switch>
	  {{account.name}}
	</td>
	<td>{{account.account_type | lowercase}}</td>
	<!-- angular docs suggestion ng-checked,
	     but that doesn't seem to work. -->
	<td>
	  <!-- TODO: make this editable -->
	  <input type='checkbox' checked="{{account.placeholder}}"
		 disabled='disabled'/>
	</td>
	<td>{{account.description}}</td>
	<td class="money">{{account.balance | currency}}</td>
	<td class="money">{{account.reconciled_balance | currency}}</td>
	<td class="money">{{account.total_period | currency}}</td>
      </tr>
      </tbody>
    </table>

    <div><h2>OFX Upload</h2>
    <select name="account_guid">
      <option id="selected_account" value="{{selected_account.guid}}"
	      >{{selected_account.name}}</option>
    </select>
    <p><label>OFX file:

<!-- @@@
    <ng-chooser choice="ofx_file" update="note_ofx_file(ofx_file)" />
-->
    <input type="file" fin-file="ofx_file" />

    </label></p>
    <button ng-click='prepare()'
	    ng-enabled='ofx_file &amp;&amp; select_account'
	    >Prepare</button> {{ofx_file.name}} {{selected_account.name}}
    <button ng-click='execute()' ng-disabled='true'
	    >Execute</button>

    <table><caption>OFX Import</caption>
      <tr>
	<th>Financial Institution</th>
	<th>Server Date</th>
      </tr>
      <tr>
	<td>{{ofx_prep.summary.org}}</td>
	<td>{{mkdate(ofx_prep.summary.dtserver) | date}}</td>
      </tr>
    </table>
    <table>
    <thead>
      <tr><th>Date Posted</th><th>Description</th><th>Amount</th></tr>
    </thead>
    <tbody>
      <tr ng-repeat="tx in ofx_prep.transactions">
	<td>{{mkdate(tx.dtposted) | date}}</td>
	<td>{{tx.name}}</td>
	<td>{{tx.trnamt / 100 | currency }}</td>
      </tr>
    </tbody>
    </table>
    </div>

    <hr />
    <address>
      <a href="https://bitbucket.org/DanC/finquick">FinQuick</a><br />
      copyright (c) 2012 <a href="http://www.madmode.com/p/about.html"
			    >Dan Connolly</a>, some rights reserved
    </address>

    <script src="http://code.angularjs.org/angular-1.0.0rc8.js" ng-autobind></script>
    <script src="http://code.angularjs.org/angular-resource-1.0.0rc8.js" ng-autobind></script>
    <script src="static/fin.js" type="text/javascript"></script>
  </body>
</html>
<!--
cribbed from
http://docs.angularjs.org/#!/misc/downloading
-->
